/* Add this to your CSS file */
.search-bar input {
  margin-top: 15rem; /* Adjust the margin as needed to create space below the header */
  position: absolute;
  border-radius: 10px;
  color: black;
}

.btns {
  margin-top: 10px;
  /* Adjust the margin as needed */
}

.top {
  display: flex;
}

/* Other existing styles... */
.search-and-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px; /* Adjust the margin as needed */
}
